<script setup lang="ts">
import { ref,computed,watch } from 'vue';

const price = ref(0);
const DownValue = ref(10);
const RateValue = ref(10);
const YearsValue = ref(1);
watch(price, (newPrice:any, oldPrice:any) => {
  if (newPrice < 0) {
    price.value = 0; // กำหนดราคาให้เป็น 0 ถ้ามีค่าน้อยกว่า 0
  }
});
const Downpayment = computed(() => {
  const ans = price.value * (DownValue.value/100)
  return ans.toLocaleString();
});

const Totalpayment = computed(() => {
  let dp = price.value * (DownValue.value/100);
  let priceAfterdown = price.value - dp;
  let rateperyear = priceAfterdown*(RateValue.value/100);
  let payperyear = rateperyear*YearsValue.value;
  let total = dp+payperyear+priceAfterdown;
  return total.toLocaleString();;
})

const monthlyPayment = computed(() => {
  let dp = price.value * (DownValue.value/100);
  let priceAfterdown = price.value - dp;
  let rateperyear = priceAfterdown*(RateValue.value/100);
  let payperyear = rateperyear*YearsValue.value;
  let total = dp+payperyear+priceAfterdown;
  const month = (total-dp)/(YearsValue.value*12);
  return month.toLocaleString();
});
</script>
<template>
  <br><br><br>
  <h1 style="margin-left: 150px;">Calculating Car Loan</h1>
  <br>
  <v-row>
    <v-col cols="5">
      <v-card style="border: 2px solid black; margin-left: 150px; background-color: rgb(228, 228, 228);" width="600px" height="350px">
        <v-form> 
          <v-text-field label="Price" v-model="price"
          style="margin-left: 50px; margin-right: 50px; margin-top: 20px;" width="200px" height="300px"
          ></v-text-field>
          <p style=" margin-left: 50px; margin-right: 50px; margin-top: 10px;">Down Percent {{ DownValue }} %</p>
          <input type="range"
          style=" width: 500px; height: 3px; margin-left: 50px; margin-right: 50px; margin-top: 10px;" 
          v-model="DownValue"
          min="0"
          max="100"
          step="1"
          class="custom-range"
          />
          <br>
          <p style=" margin-left: 50px; margin-right: 50px; margin-top: 10px;">Rate {{ RateValue }} %</p>
          <input type="range"
          style=" width: 500px; height: 3px; margin-left: 50px; margin-right: 50px; margin-top: 10px;" 
          v-model="RateValue"
          min="0"
          max="100"
          step="1"
          class="custom-range"
          />
          <br>
          <p style=" margin-left: 50px; margin-right: 50px; margin-top: 10px;">Years {{ YearsValue }} </p>
          <input type="range"
          style=" width: 500px; height: 3px; margin-left: 50px; margin-right: 50px; margin-top: 10px;" 
          v-model="YearsValue"
          min="0"
          max="10"
          step="1"
          class="custom-range"
          />
        </v-form>
      </v-card>
    </v-col>
    <v-col>
      <v-card style="background-color: black; border: 1px solid black; margin-left: 150px;" width="300px" height="350px">
        <br><br>
        <h4 style="color: white; margin-left: 50px; margin-right: 50px; margin-top: 10px;">Downpayment <br> <h2 style="color: gold;">{{ Downpayment }}<hr></h2></h4><br>
        <h4 style="color: white; margin-left: 50px; margin-right: 50px; margin-top: 10px;">Total Payment <br> <h2 style="color: gold;"> {{ Totalpayment }}<hr></h2></h4><br>
        <h4 style="color: white; margin-left: 50px; margin-right: 50px; margin-top: 10px;">Monthly Payment <br> <h2 style="color: gold;">{{ monthlyPayment }}<hr></h2></h4>
      </v-card>
    </v-col>
  </v-row>
  <br><br><br>
</template>
<style scoped>
.custom-range {
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  height: 10px;
  border-radius: 5px;
  background: linear-gradient(90deg, red 50%, black 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: background 0.2s;
  outline: none;
  opacity: 0.7;
  margin: 10px 0;
}

.custom-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: gold;
  cursor: pointer;
}
</style>