<script setup lang="ts">
import {ref,watch,computed} from 'vue';

const cax = 0;
const Enginesize = ref(null);
const selectedOption = ref(0);
const fuelper100 = ref(0);
const Mileage = ref();
const fuelprice = ref(0);

watch(fuelper100, (fuelper100:any, oldPrice:any) => {
  if (fuelper100 < 0 || typeof fuelper100 === 'string') {
    fuelper100.value = 0;
  }
});

watch(fuelprice, (fuelprice:any, oldPrice:any) => {
  if (fuelprice < 0 || typeof fuelprice === 'string') {
    fuelprice.value = 0;
  }
});

const calculated = computed(() => {
  let total = ((Mileage.value/100)*10)*fuelprice.value;
  return total.toLocaleString();
})
</script>
<template>
  <br><br><br>
  <h1 style="margin-left: 150px;">Calculating Car oil</h1>
  <br>

  <v-row>
    <v-col cols="5">
    <v-card style="border: 2px solid black; margin-left: 150px; background-color: rgb(228, 228, 228);" width="600px" height="350px">
      <div style="margin-top: 30px; margin-left: 30px; margin-right: 30px;">
      <h4>fuel consumption rate (lits/100KM)</h4>
      <v-text-field 
      label="" v-model="fuelper100" 
      style=""> 
      </v-text-field>
      <v-row>
        <v-col>
          <label for="dropdown"><h4>Type Of Petrol</h4></label>
            <select id="dropdown" v-model="selectedOption" style="width: 230px; background-color: white; border:0.5px solid black;">
              <option value="NGV">Natural Gas</option>
              <option value="G95">Gasoline 95</option>
              <option value="G91">Gasoline 91</option>
              <option value="B95">Benzene 95</option>
              <option value="E20">Ethanol E20</option>
              <option value="E85">E85 ethanol</option>
              <option value="DB7">Diesel B7</option>
              <option value="DIS">Diesel</option>
              <option value="DB20">Diesel B20</option>
              <option value="DSP">Diesel Premium</option>
            </select>
        </v-col>
        <v-col>
          <h4>Price Of Oil</h4>
          <v-text-field 
            label="" v-model="fuelprice" 
            style=""> 
          </v-text-field>
        </v-col>
      </v-row>
        
        <label for="dropdown"><h4>Mileage per year (KM)</h4></label>
        <select id="dropdown" v-model="Mileage" style="width: 230px; background-color: white; border:0.5px solid black;">
          <option value="5000">5,000</option>
          <option value="10000">10,000</option>
          <option value="15000">15,000</option>
          <option value="20000">20,000</option>
          <option value="25000">25,000</option>
          <option value="30000">30,000</option>
          <option value="35000">35,000</option>
          <option value="40000">40,000</option>
          <option value="45000">45,000</option>
          <option value="50000">50,000</option>
          <option value="55000">55,000</option>
          <option value="60000">60,000</option>
          <option value="75000">75,000</option>
          <option value="80000">80,000</option>
          <option value="85000">85,000</option>
          <option value="90000">90,000</option>
          <option value="95000">95,000</option>
          <option value="100000">100,000</option>
          <option value="105000">105,000</option>
          <option value="110000">110,000</option>
          <option value="115000">115,000</option>
          <option value="120000">120,000</option>
          <option value="125000">125,000</option>
          <option value="130000">130,000</option>
          <option value="135000">135,000</option>
          <option value="140000">140,000</option>
          <option value="14500">145,000</option>
          <option value="150000">150,000</option>
          <option value="155000">155,000</option>
          <option value="160000">160,000</option>
          <option value="165000">165,000</option>
          <option value="170000">170,000</option>
          <option value="175000">175,000</option>
          <option value="180000">180,000</option>
          <option value="185000">185,000</option>
          <option value="190000">190,000</option>
          <option value="200000">200,000</option>
        </select>
      </div>
    </v-card>
    </v-col>
    <v-col>
    <v-card style="border: 2px solid black; margin-left: 150px; background-color: black;" width="350px" height="350px">
      <v-card-text style="color: white;">
        <h2 style="color: white;" >Price of oil per year</h2>
        <br>
        Total <br><br>
        <h1 style="color: gold; "> {{ calculated }} <hr> </h1>
      </v-card-text>
    </v-card>
  </v-col>
</v-row>
<br><br><br><br>
</template>
<style scoped>
v-card{
  display: inline-block;
}
</style>