<script setup lang="ts">
import { ref } from 'vue';
import { useRouter } from 'vue-router'
const imageStyle = ref({filter: 'brightness(100%)'});
const imageStyle2 = ref({filter: 'brightness(100%)'});
const imageStyle3 = ref({filter: 'brightness(100%)'});
const textStyle = ref({filter: 'brightness(200%)'});
let text = [
 'Calculating Car loan.',
  'Calculating Car Tax.',
  'Calculating price of oil.'
];

const reduceBrightness = () => {
  imageStyle.value.filter = 'brightness(60%)';// ปรับความสว่างลงเมื่อโฮโวเวอร์เมาส์เข้ามา
};
const resetBrightness = () => {
  imageStyle.value.transition = 'filter 0.5s';
  imageStyle.value.filter = 'brightness(100%)'; // รีเซ็ตความสว่างเมื่อเมาส์ออก
};
const reduceBrightness2 = () => {
  imageStyle2.value.filter = 'brightness(60%)'; // ปรับความสว่างลงเมื่อโฮโวเวอร์เมาส์เข้ามา
};
const resetBrightness2 = () => {
  imageStyle2.value.transition = 'filter 0.5s';
  imageStyle2.value.filter = 'brightness(100%)'; // รีเซ็ตความสว่างเมื่อเมาส์ออก
};
const reduceBrightness3 = () => {
  imageStyle3.value.filter = 'brightness(60%)'; // ปรับความสว่างลงเมื่อโฮโวเวอร์เมาส์เข้ามา
};
const resetBrightness3 = () => {
  imageStyle3.value.transition = 'filter 0.5s';
  imageStyle3.value.filter = 'brightness(100%)'; // รีเซ็ตความสว่างเมื่อเมาส์ออก
};
setTimeout(() => {
    resetBrightness();
    resetBrightness2();
    resetBrightness3();
  }, 1000);

const router = useRouter();
function gotocal(n:any){
  if(n==0){
    router.push('/carloan');
  }
  else if(n==1){
    router.push('/cartax');
  }else if(n==2){
    router.push('/caroil');
  }
}

</script>
<template>
  <div>
    <br>
    <h1 style="margin-left: 680px; color: gold;">Calculator</h1>
    <br><br>
    <v-row style="margin-left: 170px; margin-right: 150px;">
      <v-col>
          <v-btn @click="gotocal(0)" width="330px" height="505px">
            <v-img 
            src="https://cdn.wallpapersafari.com/72/43/oa8s2p.jpg"
            :style="imageStyle"
            @mouseover="reduceBrightness()"
            @mouseleave="resetBrightness()"
            >
            <v-card-text :style="textStyle">
              <h1 style="color: white; margin-top: 420px; margin-left: 20px;">{{ text[0] }}</h1>
            </v-card-text>
            </v-img> 
        </v-btn>
      </v-col>
      <v-col>
          <v-btn @click="gotocal(1)" width="330px" height="505px" tyle="border-radius: 17px;">
            <v-img 
            src="https://wallpaperaccess.com/full/2298417.jpg"
            :style="imageStyle2"
            width="340px" height="505px"
            @mouseover="reduceBrightness2()"
            @mouseleave="resetBrightness2()"
            >
            <v-card-text :style="textStyle">
              <h1 style="color: white; margin-top: 420px; margin-left: 20px;">{{ text[1] }}</h1>
            </v-card-text>
            </v-img> 
        </v-btn>
      </v-col>
      <v-col>
          <v-btn @click="gotocal(2)" width="330px" height="505px">
            <v-img 
            src="https://downloadwap.com/thumbs2/wallpapers/p2/2019/cars-transport/12/d4683d3813572841.jpg"
            :style="imageStyle3"
            width="340px" height="505px"
            @mouseover="reduceBrightness3()"
            @mouseleave="resetBrightness3()"
            >
            <v-card-text :style="textStyle">
              <h1 style="color: white; margin-top: 420px; margin-left: 0.5px;">{{ text[2] }}</h1>
            </v-card-text>
            </v-img> 
        </v-btn>
      </v-col>
    </v-row>
    <br><br><br><br>
  </div>
</template>
<style scoped>
.cal:hover {
  border: 3px solid gold;
}
</style>