<script setup lang="ts">
import {ref} from 'vue';

const Enginesize = ref(null);
</script>
<template>
  <br><br><br>
  <h1 style="margin-left: 150px;">Calculating Car Tax(ยังไม่ทำเนื่องจากความซับซ้อนของอัตราภาษีของแต่ละประเทศ)</h1>
  <br>
    <v-card style="border: 2px solid black; margin-left: 150px; background-color: rgb(228, 228, 228);" width="600px" height="350px">
      <v-form>
        <h3 style="margin-top: 30px; margin-left: 40px;">Size of Engine</h3>
        <v-text-field v-model="Enginesize" label=""
        style="width: 200px;margin-top: 10px; margin-left: 40px;"
        >

        </v-text-field>
      </v-form>
    </v-card>
</template>
<style scoped>
</style>