<script setup lang="ts">
import { ref,reactive } from 'vue';
import { mdiHeartOutline,mdiEmailOutline,mdiHeart } from '@mdi/js';

const favorite = ref('fav')
function onclick() {
  favorite.value = favorite.value === 'fav' ? 'unfav' : 'fav'
}
</script>
<template>

้<h2 style="margin-left: 80px;">Find Your Brands</h2>
<br>
<v-row style="margin-left: 80px; margin-right: 80px;">
  <v-col style="margin-right: -12px;">
    <v-hover>
      <v-card class="image-text-container" style="height: 75px;">
        <v-img src="http://1000logos.net/wp-content/uploads/2018/02/Ferrari-Logo.png"
        class="carlogo"></v-img>
        <h2 class="carname">Ferrari</h2>
      </v-card>
    </v-hover>
  </v-col>
  <v-col style="margin-right: -12px;">
    <v-hover>
      <v-card class="image-text-container" style="height: 75px;">
        <v-img src="https://logos-download.com/wp-content/uploads/2016/03/Lamborghini-Logo.png"
        class="carlogo"></v-img>
        <h2 class="carname">Lamborghini</h2>
      </v-card>
    </v-hover>
  </v-col>
  <v-col style="margin-right: -12px;">
    <v-hover>
      <v-card class="image-text-container" style="height: 75px;">
        <v-img src="https://www.carlogos.org/logo/Bugatti-logo-2560x1440.png"
        class="carlogo"></v-img>
        <h2 class="carname">Bugatti</h2>
      </v-card>
    </v-hover>
  </v-col>
  <v-col style="margin-right: -12px;">
    <v-hover>
      <v-card class="image-text-container" style="height: 75px;">
        <v-img src="http://cdn.carbuzz.com/logos/original/0/300/340.png"
        class="carlogo"></v-img>
        <h2 class="carname">Koenigsegg</h2>
      </v-card>
    </v-hover>
  </v-col>
  <v-col style="margin-right: -12px;">
    <v-hover>
      <v-card class="image-text-container" style="height: 75px;">
        <v-img src="https://logo-marque.com/wp-content/uploads/2021/09/Pagani-Logo.png"
        style="  width: 50px; height: 50px; margin-top: 15px; margin-bottom: 15px; margin-left: -75px;"></v-img>
        <h2 class="carname" style="margin-left: -70px;">Pagani</h2>
      </v-card>
    </v-hover>
  </v-col>
</v-row>

<v-row style="margin-left: 80px; margin-right: 80px;">
  <v-col style="margin-right: -12px;">
    <v-hover>
      <v-card class="image-text-container2" style="height: 75px;">
        <v-img src="https://www.carlogos.org/logo/Rolls-Royce-logo-2048x2048.png"
        class="carlogo"></v-img>
        <h2 class="carname">Rolls-Royce</h2>
      </v-card>
    </v-hover>
  </v-col>
  <v-col style="margin-right: -12px;">
    <v-hover>
      <v-card class="image-text-container2" style="height: 75px;">
        <v-img src="https://logos-world.net/wp-content/uploads/2021/04/Porsche-Logo.png"
        class="carlogo"></v-img>
        <h2 class="carname">Porsche</h2>
      </v-card>
    </v-hover>
  </v-col>
  <v-col style="margin-right: -12px;">
    <v-hover>
      <v-card class="image-text-container2" style="height: 75px;">
        <v-img src="https://1000logos.net/wp-content/uploads/2020/02/Aston-Martin-Logo-1972-2048x1152.png"
        style=" width: 50px; height: 50px; margin-top: 15px; margin-bottom: 15px; margin-left: -75px;"></v-img>
        <h2 class="carname">Aston Martin</h2>
      </v-card>
    </v-hover>
  </v-col>
  <v-col style="margin-right: -12px;">
    <v-hover>
      <v-card class="image-text-container2" style="height: 75px;">
        <v-img src="https://logos-download.com/wp-content/uploads/2016/02/BMW_logo_blue.png"
        class="carlogo"></v-img>
        <h2 style="margin-left: -70px; font-family: Avenir Next;">BMW</h2>
      </v-card>
    </v-hover>
  </v-col>
  <v-col style="margin-right: -12px;">
    <v-hover>
      <v-card class="image-text-container2" style="height: 75px;">
        <v-img src="https://logos-world.net/wp-content/uploads/2020/05/Mercedes-Benz-Logo.png"
        class="carlogo"></v-img>
        <h2 class="carname" >Mercides</h2>
      </v-card>
    </v-hover>
  </v-col>
</v-row>

<v-row style="margin-left: 80px; margin-right: 80px;">
  <v-col style="margin-right: -12px;">
    <v-hover>
      <v-card class="image-text-container3" style="height: 75px;">
        <v-img src="http://www.carlogos.org/logo/Alfa-Romeo-logo-1982-1920x1080.png"
        class="carlogo"></v-img>
        <h2 class="carname">Alfa Romeo</h2>
      </v-card>
    </v-hover>
  </v-col>
  <v-col style="margin-right: -12px;">
    <v-hover>
      <v-card class="image-text-container3" style="height: 75px;">
        <v-img src="http://www.hdwallpaper.nu/wp-content/uploads/2015/12/Lexus-Logo-Wallpaper-2022.png"
        class="carlogo"></v-img>
        <h2 class="carname">Lexus</h2>
      </v-card>
    </v-hover>
  </v-col>
  <v-col style="margin-right: -12px;">
    <v-hover>
      <v-card class="image-text-container3" style="height: 75px;">
        <v-img src="https://wallpapercave.com/wp/wp2293037.png"
        style=" width: 50px; height: 50px; margin-top: 15px; margin-bottom: 15px; margin-left: -75px;"></v-img>
        <h2 class="carname">Mclaren</h2>
      </v-card>
    </v-hover>
  </v-col>
  <v-col style="margin-right: -12px;">
    <v-hover>
      <v-card class="image-text-container3" style="height: 75px;">
        <v-img src="https://clipground.com/images/ford-logo-png-2.png"
        style="  width: 45px; height: 45px; margin-top: 15px; margin-bottom: 15px; margin-left: -60px;"></v-img>
        <h2 style="margin-left: -60px; font-family: Avenir Next;">Ford</h2>
      </v-card>
    </v-hover>
  </v-col>
  <v-col style="margin-right: -12px;">
    <v-hover>
      <v-card class="image-text-container3" style="height: 75px;">
        <v-img src="https://pngimg.com/uploads/tesla_logo/tesla_logo_PNG19.png"
        class="carlogo"></v-img>
        <h2 class="carname" >Tesla</h2>
      </v-card>
    </v-hover>
  </v-col>
</v-row>

<v-row style="margin-left: 80px; margin-right: 80px;">
  <v-col style="margin-right: -12px;">
    <v-hover>
      <v-card class="image-text-container4" style="height: 75px;">
        <v-img src="https://www.freepnglogos.com/uploads/nissan-logo-3.png"
        class="carlogo"></v-img>
        <h2 class="carname">Nissan</h2>
      </v-card>
    </v-hover>
  </v-col>
  <v-col style="margin-right: -12px;">
    <v-hover>
      <v-card class="image-text-container4" style="height: 75px;">
        <v-img src="https://www.pngmart.com/files/5/Mitsubishi-Logo-Transparent-Background.png"
        class="carlogo"></v-img>
        <h2 class="carname">Mitsubishi</h2>
      </v-card>
    </v-hover>
  </v-col>
  <v-col style="margin-right: -12px;">
    <v-hover>
      <v-card class="image-text-container4" style="height: 75px;">
        <v-img src="https://logos-world.net/wp-content/uploads/2020/04/Toyota-Symbol.png"
        style=" width: 50px; height: 50px; margin-top: 15px; margin-bottom: 15px; margin-left: -75px;"></v-img>
        <h2 class="carname" style="margin-left: -75px;">Toyota</h2>
      </v-card>
    </v-hover>
  </v-col>
  <v-col style="margin-right: -12px;">
    <v-hover>
      <v-card class="image-text-container4" style="height: 75px;">
        <v-img src="https://logos-world.net/wp-content/uploads/2021/03/Honda-Emblem.png"
        class="carlogo"></v-img>
        <h2 class="carname" >Honda</h2>
      </v-card>
    </v-hover>
  </v-col>
  <v-col style="margin-right: -12px;">
    <v-hover>
      <v-card class="image-text-container4" style="height: 75px;">
        <v-img src="https://www.carlogos.org/logo/Volkswagen-logo-2019-1500x1500.png"
        class="carlogo"></v-img>
        <h2 class="carname" >Volkswagen</h2>
      </v-card>
    </v-hover>
  </v-col>
</v-row>
<br><br><br>


  <v-row style="margin-left: 110px; margin-right: 80px;">
    <v-col>
      <v-hover >
        <v-card class="showcard">
          <v-img src="https://www.motortrend.com/uploads/sites/5/2016/02/2017-Bugatti-Chiron-homepage.jpg"
            class="carimg">
            <v-btn  style="margin-left: 230px;" :prepend-icon="favorite === 'fav' ? mdiHeartOutline : mdiHeart" @click="onclick">
            </v-btn>
          </v-img>
          <v-card-text>
            <span style="display: flex; align-items: center; margin-top: -16px;">
            <h3 style="margin-right: auto;">3,500,000$</h3>
              <v-btn>
                <v-icon>{{ mdiEmailOutline }}</v-icon>
              </v-btn>
            </span>
            <p style="margin-right: auto;">Bugatti Chiron</p>
            <p>Miami , Unitedstate</p>
          </v-card-text>
        </v-card>
      </v-hover>
    </v-col>
    <v-col>
      <v-hover >
        <v-card class="showcard">
          <v-img src="http://s1.paultan.org/image/2016/03/2016-bugatti-chiron-001-e1456797385849.jpg"
          class="carimg"></v-img>
          <v-card-text>

          </v-card-text>
        </v-card>
      </v-hover>
    </v-col><v-col>
      <v-hover >
        <v-card class="showcard">
          <v-img src="https://www.motortrend.com/uploads/sites/5/2016/02/2017-Bugatti-Chiron-homepage.jpg"
          class="carimg"></v-img>
          <v-card-text>

          </v-card-text>
        </v-card>
      </v-hover>
    </v-col><v-col>
      <v-hover >
        <v-card class="showcard">
          <v-img src="https://www.motortrend.com/uploads/sites/5/2016/02/2017-Bugatti-Chiron-homepage.jpg"
          class="carimg"></v-img>
          <v-card-text>

          </v-card-text>
        </v-card>
      </v-hover>
    </v-col>

  </v-row>
  <v-row style="margin-left: 110px; margin-right: 80px;">
    <v-col>
      <v-hover >
        <v-card class="showcard">
          <v-img src="https://www.motortrend.com/uploads/sites/5/2016/02/2017-Bugatti-Chiron-homepage.jpg"
            ></v-img>
          <v-card-text>

          </v-card-text>
        </v-card>
      </v-hover>
    </v-col>
    <v-col>
      <v-hover >
        <v-card class="showcard">
          <v-img src="https://www.motortrend.com/uploads/sites/5/2016/02/2017-Bugatti-Chiron-homepage.jpg"
            ></v-img>
          <v-card-text>

          </v-card-text>
        </v-card>
      </v-hover>
    </v-col><v-col>
      <v-hover >
        <v-card class="showcard">
          <v-img src="https://www.motortrend.com/uploads/sites/5/2016/02/2017-Bugatti-Chiron-homepage.jpg"
            ></v-img>
          <v-card-text>

          </v-card-text>
        </v-card>
      </v-hover>
    </v-col><v-col>
      <v-hover >
        <v-card class="showcard">
          <v-img src="https://www.motortrend.com/uploads/sites/5/2016/02/2017-Bugatti-Chiron-homepage.jpg"
            ></v-img>
          <v-card-text>

          </v-card-text>
        </v-card>
      </v-hover>
    </v-col>

  </v-row>
  <v-row style="margin-left: 110px; margin-right: 80px;">
    <v-col>
      <v-hover >
        <v-card class="showcard">
          <v-img src="https://www.motortrend.com/uploads/sites/5/2016/02/2017-Bugatti-Chiron-homepage.jpg"
            ></v-img>
          <v-card-text>

          </v-card-text>
        </v-card>
      </v-hover>
    </v-col>
    <v-col>
      <v-hover >
        <v-card class="showcard">
          <v-img src="https://www.motortrend.com/uploads/sites/5/2016/02/2017-Bugatti-Chiron-homepage.jpg"
            ></v-img>
          <v-card-text>

          </v-card-text>
        </v-card>
      </v-hover>
    </v-col><v-col>
      <v-hover >
        <v-card class="showcard">
          <v-img src="https://www.motortrend.com/uploads/sites/5/2016/02/2017-Bugatti-Chiron-homepage.jpg"
            ></v-img>
          <v-card-text>

          </v-card-text>
        </v-card>
      </v-hover>
    </v-col><v-col>
      <v-hover >
        <v-card class="showcard">
          <v-img src="https://www.motortrend.com/uploads/sites/5/2016/02/2017-Bugatti-Chiron-homepage.jpg"
            ></v-img>
          <v-card-text>

          </v-card-text>
        </v-card>
      </v-hover>
    </v-col>

  </v-row>
  <br><br><br>
</template>
<style scoped>
.showcard{
  border-radius: 3%;
  border:1.5px black solid;
  width: 280px;
  height: 270px;
}

.showcard:hover{
  border-radius: 3%;
  border:2px gold solid;
  width: 280px;
  height: 270px;
}

.carimg{
  width: 280px;
  height: 300;
  padding-top: -5px;
}

.carlogo{
  width: 60px; 
  height: 60px; 
  margin-top: 15px; 
  margin-bottom: 15px; 
  margin-left: -75px;
}

.carname{
  margin-left: -85px;
  font-family: Avenir Next;
}

.image-text-container {
  display: flex; 
  align-items: center;
  width: 250px;
  border: solid 1.5px rgb(127, 127, 127);
}

.image-text-container:hover {
  display: flex; 
  align-items: center;
  width: 250px;
  position: absolute;
  top: 195px;
  border: solid 1.5px gold;
}

.image-text-container2 {
  display: flex; 
  align-items: center;
  width: 250px;
  border: solid 1.5px rgb(127, 127, 127);
}

.image-text-container2:hover {
  display: flex; 
  align-items: center;
  width: 250px;
  position: absolute;
  top: 295px;
  border: solid 1.5px gold;
}

.image-text-container3 {
  display: flex; 
  align-items: center;
  width: 250px;
  border: solid 1.5px rgb(127, 127, 127);
}

.image-text-container3:hover {
  display: flex; 
  align-items: center;
  width: 250px;
  position: absolute;
  top: 395px;
  border: solid 1.5px gold;
}

.image-text-container4 {
  display: flex; 
  align-items: center;
  width: 250px;
  border: solid 1.5px rgb(127, 127, 127);
}

.image-text-container4:hover {
  display: flex; 
  align-items: center;
  width: 250px;
  position: absolute;
  top: 495px;
  border: solid 1.5px gold;
}
</style>