<template>
  <div>
    <v-tabs v-model="selectedTab">
      <v-tab :key="tab.id" v-for="tab in tabs" :to="tab.route">
        {{ tab.label }}
      </v-tab>
    </v-tabs>

    <!-- แสดงเนื้อหาของเส้นทางที่เลือก -->
    <router-view></router-view>
  </div>
</template>

<script setup>
import { ref } from 'vue';
import { useRouter } from 'vue-router';

const router = useRouter();

const tabs = [
  { id: 1, label: 'garage', route: '/garage' },
  { id: 2, label: 'Tab 2', route: '/tab2' },
  { id: 3, label: 'Tab 3', route: '/tab3' },
];

const selectedTab = ref('');

// กำหนดค่าเริ่มต้นให้ selectedTab จากเส้นทางปัจจุบัน
selectedTab.value = router.currentRoute.value.path;
</script>

<script>
import { onMounted } from 'vue';

onMounted(() => {
  // เรียกใช้งานหน้าเส้นทาง "tab1" โดยอัตโนมัติเมื่อโครงสร้างของ Vue ถูกโหลด
  if (selectedTab.value === '/garage') {
    router.push('/garage');
  }
});
</script>
ในตัวอย่างนี้เราใช้ beforeRouteEnter เพื่อตรวจสอบว่าถ้า selectedTab เป็น "/tab1" (ค่าเริ่มต้น) ให้เรียกใช้งานเส้นทาง "/tab1" โดยอัตโนมัติ เมื่อโครงสร้างของ Vue ถูกโหลด ดังนั้นหน้าแสดงเนื้อหาของ "tab1" จะแสดงโดยอัตโนมัติโดยไม่ต้องคลิกที่แท็บ "tab1".






