<script setup lang="ts">
import { ref, reactive } from 'vue';
import { mdiHeart } from '@mdi/js';
import { useRouter } from 'vue-router';

const router = useRouter();

const mdiHeartRef = mdiHeart;
const tab = ref(0);
const items = ['Garage', 'News', 'Car parts', 'Calculator', 'Sell',];


</script>

<template>
  <v-card>
    <v-toolbar color="black" style="position: fixed; z-index: 999;">

      <h1 style="color: gold; margin-left: 20px; font-family: Avenir Next;">Le Bil Comprare</h1>

      <v-spacer></v-spacer>

      <v-btn icon>
        <v-icon>mdi-magnify</v-icon>
      </v-btn>

      <v-btn icon>
        <v-icon>mdi-dots-vertical</v-icon>
      </v-btn>

      <template v-slot:extension>
        <v-tabs
          v-model="tab"
          align-tabs="title"
        >
          <v-tab class="tabitem" to="/garage">Garage</v-tab>
          <v-tab class="tabitem" to="/news">News</v-tab>
          <v-tab class="tabitem" to="/carparts">Car Parts</v-tab>
          <v-tab class="tabitem" to="/cal">Calculator</v-tab>
          <v-tab class="tabitem" to="/sell">Sell</v-tab>
        </v-tabs>
        <v-btn style="margin-left: 700px;" class="tabitem">
          <v-icon>{{mdiHeart}}</v-icon>
          Your Favorite
        </v-btn>
      </template>
    </v-toolbar>
    <v-window v-model="tab">
      <v-window-item
        v-for="item in items"
        :key="item"
        :value="item"
      >
      <br><br><br><br><br>
          <router-view></router-view>
          
      </v-window-item>
    </v-window>
  </v-card>

</template>
<style scoped>
.tabitem:hover{
  color: gold;
}
</style>