<template>
  <div>
    <h1>News</h1>
  </div>
</template>

<script setup lang="ts">
import { ref } from 'vue';

const imageStyles = ref([
  { filter: 'brightness(100%)' },
  { filter: 'brightness(100%)' },
  { filter: 'brightness(100%)' },
]);

const reduceBrightness = (index:any) => {
  imageStyles.value[index].filter = 'brightness(80%)';
};

const resetBrightness = (index:any) => {
  imageStyles.value[index].filter = 'brightness(100%)';
};
</script>