<script setup lang="ts">
import { ref,defineComponent } from 'vue';
import {mdiCarCog,mdiCar} from '@mdi/js';
import FooterViewVue from './FooterView.vue';
import { useRouter } from 'vue-router';

const router = useRouter();
const foot = ref(0);
const items = ['footer'];
</script>
<template>
  <div style="background-attachment: fixed;">
  <div style=" margin-top: -10px; background-image: url(https://wallpapercave.com/wp/wp2092324.jpg); background-size: cover;">
    <br><br><br><br><br><br><br><br><br><br>
    <v-row style="margin-left: 520px;">
      <v-col>
      <v-hover>
        <v-card class="card">
          <v-icon style="width: 80px; height: 80px; margin-left: 60px;">{{ mdiCar }}</v-icon><br><br><hr>
          <v-card-text>Advertise your car with us to find the right interested buyers and deals. Let's get started!</v-card-text>
        </v-card>
      </v-hover>
    </v-col>
      <v-col style="margin-left: -500px;">
      <v-hover >
        <v-card class="card">
          <v-icon style="width: 80px; height: 80px; margin-left: 60px;">{{ mdiCarCog }}</v-icon><br><br><hr>
          <v-card-text>Sell your automotive accessories with us to make your products more recognized by those interested. Let's get started!</v-card-text>
        </v-card>
      </v-hover>
    </v-col>
    </v-row>
    <br>
    <br><br><br><br>
  </div></div>
  
</template>

<style scoped>
.card{
  width: 200px; 
  height: 260px; 
  border: 1px solid black; 
  border-radius: 28px;
}

.card:hover{
  color: gold;
  background-color: black;
}
</style>
